*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  }
  
  body{
    background-image: linear-gradient(120deg,#581026,#2e2d2c);
    min-height: 100vh;
  }

  .container{
    max-width: 800px;
    margin: auto;
    padding: 10px;
  }
  
  .txtbtn{
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    background:rgb(46, 78, 68) ;
    padding: 10px;
    outline: none;
    font-size: 18px;
  }

  
  h3{
    margin: 10px 0;
  }
  
  .task{
    width: 100%;
    background: rgba(255,255,255,0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
  }

  .task i{
    float: right;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .complet .task{
    background: rgba(34, 162, 194, 0.5);
    color: #fff;
  }